*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
*.iml

out

#files needed for angular2, npm, TS
src/main/resources/static/node_modules
src/main/resources/static/typings
src/main/resources/static/app/*.js
src/main/resources/static/app/*.map

static

build